<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head lang = "en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>My todo list</title>

</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(topics)}">
        <h2>ToDo List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tr th:each="topic : ${topics}">
                <td th:text="${topic.id}"></td>
                <td th:text="${topic.name}"></td>
                <td th:text="${topic.description}"></td>
                <td><a th:href="${'/topics/delete/' + topic.id}">Delete</a></td>
            </tr>
        </table>
</div>
</div>
<h2> <form action="/topics">
    <input type="submit" value="Submit another task" />
</form>
</h2>
</body>
</html>